.registerWrapper
  %div{:registerwrapper__head => ""}
    %h2 会員情報入力
  .registerWrapper__registerContents
    .registerWrapper__registerContents__userForm
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource
        .field
          = f.label :ニックネーム
          %span （必須）
          %br/
          = f.text_field :nickname, autofocus: true, autocomplete: "nickname"
        .field
          = f.label :email
          %span （必須）
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .field
          = f.label :パスワード
          - if @minimum_password_length
            %em ７文字以上（現在は６文字で可能）
            %span （必須）
          %br/
          = f.password_field :password, autocomplete: "new-password"
        .field
          = f.label :パスワードの確認
          %span （必須）
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password"
        .actions
          = f.submit "Sign up"
    .registerWrapper__registerContents__identificationContents
      .registerWrapper__registerContents__identificationContents__sentence
        %h4 本人確認
        %p
          安心・安全にご利用いただくために、お客様の本人情報の登録にご協力ください。
          %br>/
          他のお客様に公開されることはありません。
      .registerWrapper__registerContents__identificationContents__identificationForm
        .field
          お名前（全角）
          %span （必須）
        .field
          お名前カナ（全角）
          %span （必須）
        .field
          生年月日
          %span （必須）
        %p ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
        次へ進む
