<div class="registerWrapper">
  <div registerWrapper__head>
    <h2>会員情報入力</h2>
  </div>
  <div class="registerWrapper__registerContents">
    <div class="registerWrapper__registerContents__userForm">  
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :ニックネーム %><span>（必須）</span><br />
          <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
        </div>

        <div class="field">
          <%= f.label :email %><span>（必須）</span><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :パスワード %>
          <% if @minimum_password_length %>
          <em>７文字以上（現在は６文字で可能）</em><span>（必須）</span> 
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :パスワードの確認 %><span>（必須）</span><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
      <% end %>
    </div>
    <div class="registerWrapper__registerContents__identificationContents">
      <div class="registerWrapper__registerContents__identificationContents__sentence">
        <h4>本人確認</h4>
        <p>安心・安全にご利用いただくために、お客様の本人情報の登録にご協力ください。<br>他のお客様に公開されることはありません。</p>
      </div>
      <div class="registerWrapper__registerContents__identificationContents__identificationForm">

        <div class="field">
          お名前（全角）<span>（必須）</span>
        </div>

        <div class="field">
          お名前カナ（全角）<span>（必須）</span>
        </div>

        <div class="field">
          生年月日<span>（必須）</span>
        </div>

        <p>※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。</p>
        次へ進む

      </div>
    </div>
  </div>
</div>
