= render partial: "/layouts/header"
.cardShowBody
  = render partial: "/users/side"  

  .cardShowContent
    .cardShowContent__head
      %h2 支払い方法
    .cardShowContent__main
      .cardShowContent__main__title 登録されているクレジットカード情報
      .cardShowContent__main__info
        .cardShowContent__main__info__card
          .cardShowContent__main__info__card__logo
            = image_tag "#{@card_src}", class: "cardShowContent__main__info__card__logo__logomark", alt: @card_brand
          .cardShowContent__main__info__card__number
            = "**** **** **** " + @customer_card.last4
          .cardShowContent__main__info__card__limit
            = @exp_month + " / " + @exp_year
        .cardShowContent__main__info__delete
          .cardShowContent__main__info__delete__link
            = link_to credit_card_path, method: :delete, class: "cardShowContent__main__info__delete__link__btn" do 
              削除する



