.purchasesIndex

  .purchasesIndex__logo
    = link_to(root_path) do
      = image_tag "logo.png", class: "purchasesIndexs__logo--img", size: "185x49"  



  .purchasesIndex__contents
    .purchasesIndex__contents--title
      購入内容の確認
    .purchasesIndex__contents--summary
      .piGood
        .piGoodLeft__picture
          = image_tag @picture.goodsImage.url, class: ".piGoodLeft__picture", size: "80x80"
        .piGoodRight
          .piGoodRight__title
            = @good.goodsName
          .piGoodRight__down
            .piGoodRight__down--price
              = "¥" + "#{@good.price.to_s(:delimited)}"
            .piGoodRight__down--tax
              （税込）
            .piGoodRight__down--fee
              - if @good.deliveryFee == "送料込み（出品者負担）"
                .piGoodRight__down--fee--include
                  送料込み
              - else
                .piGoodRight__down--fee--notInclude
                  送料は含みません

    .purchasesIndex__contents--price
      .piPrice__top  
        .piPrice__top--title
          支払い金額
        .piPrice__top--display
          = "¥" + "#{@good.price.to_s(:delimited)}"
      .piPrice__down
        %i.fas.fa-stop
        .piPrice__down--point
          ポイントを使用 (所持ポイント: P0)

    .purchasesIndex__contents--pay
      .piPay__title
        支払い方法
      - if @user.credit_card.present?
        .piPay__card
          .piPay__card__info
            .piPay__card__info__payMethod
              クレジットカード
            .piPay__card__info__number
              = "**** **** **** " + @customer_card.last4
            .piPay__card__info__limit
              = "有効期限" + " " + "#{@exp_month + " / " + @exp_year}"
            .piPay__card__info__Logo
              = image_tag "#{@card_src}", class: "cardShowContent__main__info__card__logo__logomark", alt: @card_brand
          .piPay__card__delete
            .piPay__card__delete__link
              = link_to "変更する", credit_card_path(current_user.id), class: "piPay__card__delete__link__btn"

      - else
        .piPay__down
          %i.fas.fa-plus-circle
          = link_to "登録してください", new_credit_card_path


    .purchasesIndex__contents--address
      .piAddress__title
        配送先
        %span 変更する
      .piAddress__postCode
        = "〒" + "#{@deliveryAddress.postCode}"
      .piAddress__destination
        = "#{@good.prefecture.name}" + "#{@deliveryAddress.city}" + "#{@deliveryAddress.address}"
      .piAddress__name
        = @deliveryAddress.buildingName

    .purchasesIndex__contents--notice
      郵便局/コンビニ受取をご希望の方は、購入後に
      %span> 取引画面
      から受取場所を変更をすることが可能です。出品者が発送作業を開始した後は受取場所の変更ができませんので、早めに変更を行ってください。



    .purchasesIndex__contents--button
      = link_to '購入する', pay_good_purchase_path(id: @good.id), method: :post


  = render partial: 'modules/footerSub'
