= render "layouts/header"

.top-image
  .top-image__text
    .top-image__text__top
      人生を変える
      %span
      %br
      フリマアプリ
      %span へ。
    .top-image__text__bottom
      FRIMAはだれでもかんたんに出品・購入できるフリマアプリです
    .top-image__image
.top-syoukai
  .top-syoukai__title
    FURIMAが選ばれる３つの理由
    .top-syoukai__title__topcontent
  %ul.toplists
    %li.list
      .list__gazo
        %span.number 1
        = image_tag "pict-reason-01.jpg"
      %h3.list__sub
        %span 3分
        ですぐ出品
      %p.list__explain スマホで入力するだけで簡単に出品できる！
    %li.list
      .list__gazo
        %span.number 2
        = image_tag "pict-reason-02.jpg"
      %h3.list__sub
        %span シンプル
        で使いやすい
      %p.list__explain めんどくさい入力はh必要なく、検索も購入もスムーズ！
    %li.list--last
      .list__gazo
        %span.number 3
        = image_tag "pict-reason-03.jpg"
      %h3.list__sub
        手数料
        %span 業界最安
      %p.list__explain 最大で3%でお得に出品&購入！
.top-center
  .top-center__inner
    %h2.bgtitle 会員数日本一位
    %p.toptext
      FRIMAは、フリマアプリで最も人気。
      %br 出品・購入回数も業界最多です！
      欲しかったあの商品に出会えるかもしれません。
    .topbtn
      .applebtn
        = image_tag ""
      .googlebtn
        = image_tag ""
.top-trait
  %h2.tophead
    FURIMAの特徴
    .top-trait__content2
  .top-trait__items
    .top-trait__items__item
      %figure.topitem__img
        = image_tag "icon-01.png"
      %h3.topitem__subtitle 簡単に売り買いできる
      %p.topitem__detail スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
    .top-trait__items__item
      %figure.topitem__img
        = image_tag "icon-03.png"
      %h3.topitem__subtitle 売上金は即日振込みに対応 
      %p.topitem__detail 午前9時までに振込を依頼頂ければ、翌日に指定の口座に入金いたします！
    .top-trait__items__item
      %figure.topitem__img
        = image_tag "icon-04.png"
      %h3.topitem__subtitle 様々な支払いに対応
      %p.topitem__detail お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法がありますあります。
.top-main
  .top-main__title
    %h2 人気のカテゴリー
    .top-main__title__tags
      %ul
        %li レディース
        %li メンズ
        %li 家電・スマホ・カメラ
        %li おもちゃ・ボビー・グッズ
  .top-main__contents
    %h2 レディース新着アイテム
    = link_to "#", class:"link-blue" do
      もっと見る
      %i{class: "fas fa-chevron-right"}
  - for i in 1..2
    .top-main__products
      - for j in 1..5
        .top-main__products__puroduct
          = image_tag ""
          .top-main__products__puroducts__price
            ¥2,000
          .top-main__products__puroducts__text
            snoopy

-# TODO: フッター上部のバナー移設（_footer.html.haml -> 直張り）
.footer-image
  .footer-image__text
    .footer-image__text__top
      スマホでかんたんフリマアプリ
    .footer-image__text__bottom
      今すぐ無料ダウンロード！
    %a{href: "", class:"app-store"}
    %a{href: "", class:"google-play"}


= render "layouts/footer" 