= render "layouts/header"


%aside.asideCategory
  .asideCategoryBox
    .asideCategoryBox__asideCategoryBoxInfo
      .asideCategoryBox__asideCategoryBoxInfo__asideCategoryBoxInfolist
        = link_to "FURIMA", root_path, class: "cateTop"
        %i.fas.fa-chevron-right.iconChevronRight
        = link_to @category.categoryName, "#", class: "cateCate"
        %i.fas.fa-chevron-right.iconChevronRight
        = link_to @good.category_id, "#", class: "cateCateSub"
        %i.fas.fa-chevron-right.iconChevronRight
        = link_to @good.category_id, "#", class: "cateCateSubSub"
        %i.fas.fa-chevron-right.iconChevronRight
        = link_to @good.goodsName, "#", class: "cateProductName"

.showGoods
  .showGoods__showGoodsBody
    .showGoods__showGoodsBody__showGoodsBodyMain
      .showGoods__showGoodsBody__showGoodsBodyMain__showGoodsBodyMainSelect
        %h1.selectItemName
          = @good.goodsName

        .selectContent
          .selectContent__selectContentPhotos

            .selectContent__selectContentPhotos__selectContentPhotosPhoto
              TODO:
              - if user_signed_in? && current_user.id == @good.user_id
                .selectContent__selectContentPhotos__selectContentPhotosPhoto__selectContentPhotosPhotoBtn
                  %i.fas.fa-angle-down.iconDown
                  %ul.moreList
                    %li= link_to "編集", edit_good_path(@good.id), method: :get, class:"moreEdit"
                    %li= link_to "削除", good_path(@good.id), method: :delete, class:"moreDelete"

              .selectContent__selectContentPhotos__selectContentPhotosPhoto__selectContentPhotosPhotoOne
                - picFirst = @pictures.first
                = image_tag picFirst.goodsImage.url
              .selectContent__selectContentPhotos__selectContentPhotosPhoto__selectContentPhotosPhotoOther
                - @pictures.each do |pics|
                  = image_tag pics.goodsImage.url
        .selectPriceBox
          .selectPriceBox__selectPriceBoxMoney
            %i.fas.fa-yen-sign.iconYen
            %span.spanMoney
              = @good.price
          .selectPriceBox__selectPriceBoxSupp
            .selectPriceBox__selectPriceBoxSupp__selectPriceBoxSuppTax
              %span.spanTax
                （税込）送料込み
            .selectPriceBox__selectPriceBoxSupp__selectPriceBoxSuppShippingFee
              %span.spanShippingFee
        TODO:
        .selectPurchace
          .selectPurchace__selectPurchaceMove
            - if current_user.id == @good.user_id
              %a.selectPurchaceMoveForm{href: "#"} 出品頂いた商品です
            - else
              - if user_signed_in?
                %a.selectPurchaceMoveForm{href: "https://www.mercari.com/jp/transaction/buy/m42527798392/"} 購入画面に進む
                -# https://www.mercari.com/jp/transaction/buy/m42527798392/
                -# = link_to "購入画面に進む", "#_path[@good,@user,@pictures,@category]", class: "toPurchace"
              - else
                %a.selectPurchaceMoveForm{href: "http://localhost:3000/users/sign_in"} 購入するためにログインに進む

        .selectDescription
          .selectDescription__selectDescriptionBody
            %p.selectDescriptionBodyExplain
              = simple_format @good.explanation
        .selectTables
          .selectTables__selectTablesBody
            %table{border: "1"}
              %tr
                %th
                  出品者
                  %td
                    = link_to @user.nickname, "#",class: "exhibitorName"
              %tr
                %th
                  カテゴリー
                  %td
                    = link_to @category.categoryName, "#", class: "exhibitionCategory"
                    %br
                    = link_to @good.category_id, "#", class: "exhibitionCategorySub"
                    %br
                    = link_to @good.category_id, "#", class: "exhibitionCategorySubSub"
              %tr
                %th
                  ブランド
                  %td
                    = @good.brand
              %tr
                %th
                  商品のサイズ
                  %td
              %tr
                %th
                  商品の状態
                  %td
                    = @good.goodsCondition
              %tr
                %th
                  配送料の負担
                  %td
                    = @good.deliveryFee
              %tr
                %th
                  発送元の地域
                  %td
                    = link_to @good.prefecture.name, "#", class: "exhibitionAddress"
              %tr
                %th
                  発送日の目安
                  %td
                    = @good.deliveryDay
        .selectReport
          .selectReport__selectReportLeft
            .selectReport__selectReportLeft__selectReportLeftLike
              %form{action: "#", method: "post", name: "", class: "selectReportLeftLikeForm"}
                = button_tag "Submit", type: 'submit', class: "selectReportLeftLikeBtn" do
                  %i.fas.fa-star.iconStar
                  %span.spanStarWord
                    お気に入り
                  %span.spanStarNumber
                    2
            .selectReport__selectReportLeft__selectReportLeftBad
              .selectReport__selectReportLeft__selectReportLeftBad__selectReportLeftBadLink
                = link_to "#", class: "selectReportLeftBadLinkBtn" do
                  .i.fas.fa-flag.iconFlag
                  %span.spanFlag
                    不適切な商品の通報

      .showGoods__showGoodsBody__showGoodsBodyMain__showGoodsBodyMainComment
        .showGoods__showGoodsBody__showGoodsBodyMain__showGoodsBodyMainComment__showGoodsBodyMainCommentContent
          .mainCommentContentBody
            %form{action: "#", method: "post", name: "", class: "mainCommentContentBodyForm"}
              %textarea{name: "", rows:"4", cols: "70", class: "mainCommentContentBodyTextarea"}
              %p.mainCommentContentBodyFormAttention
                相手のことを考え丁寧なコメントを心がけましょう。
                %br
                不快な言葉遣いなどは利用制限や退会処分となることがあります。
              .mainCommentContentBodyTag
                %i.fas.fa-comment.iconComment
                = button_tag "コメントする", type: 'submit', class: "mainCommentContentBodyTagBtn"

      .showGoods__showGoodsBody__showGoodsBodyMain__showGoodsBodyMainOtherItem
        .showGoods__showGoodsBody__showGoodsBodyMain__showGoodsBodyMainOtherItem__showGoodsBodyMainOtherItemBox
          %ul.mainOtherItemBoxUl
            %li.mainOtherItemBoxUlPrev
              %i.fas.fa-chevron-left.iconChevronLeft
              = link_to "前の商品", "#", class: "mainOtherItemBoxUlPrevOne"
            %li.mainOtherItemBoxUlNext
              = link_to "後ろの商品", "#", class: "mainOtherItemBoxUlNextOne"
              %i.fas.fa-chevron-right.iconChevronRight

      .showGoods__showGoodsBody__showGoodsBodyMain__showGoodsBodyMainNavi
        .showGoods__showGoodsBody__showGoodsBodyMain__showGoodsBodyMainNavi__showGoodsBodyMainNaviBox
          %nav.naviBoxBrend
            %ul.naviBoxBrendTopUl
              %li.naviBoxBrendTopUlLi
                = link_to "メンズをもっと見る", "#", class: "naviBoxBrendTopUlLiBtn"


%aside.asideBanner
  = image_tag "bg-appBanner-pict.jpg", alt: "No Photo", class: "asideBannerPhoto"
  .asideBannerIn
    %h2.asideBannerInHead
      だれでもかんたん、人生を変えるフリマアプリ
    %p.asideBannerInPhrase
      今すぐ無料ダウンロード！
  .asideBannerAt
    .asideBannerAtApple
      = link_to "#" do
        = image_tag "appStore.svg", alt: "No Photo", class: "appleBtn"
    .asideBannerAtGoogle
      = link_to "#" do
        = image_tag "googlePlay.svg", alt: "No Photo", class: "googleBtn"


= render "layouts/footer"