= render "layouts/header"


%aside.asideCategory
  .asideCategoryBox
    .asideCategoryBox__asideCategoryBoxInfo
      .asideCategoryBox__asideCategoryBoxInfo__asideCategoryBoxInfolist
        = link_to "FURIMA", "#", class: "cateTop"
        %i.fas.fa-chevron-right.iconChevronRight
        = link_to "生きもの", "#", class: "cateCate"
        %i.fas.fa-chevron-right.iconChevronRight
        = link_to "動物", "#", class: "cateCateSub"
        %i.fas.fa-chevron-right.iconChevronRight
        = link_to "犬", "#", class: "cateCateSubSub"
        %i.fas.fa-chevron-right.iconChevronRight
        = link_to "まいご犬", "#", class: "cateProductName"


.showGoods
  .showGoods__showGoodsBody
    .showGoods__showGoodsBody__showGoodsBodyMain

      .showGoods__showGoodsBody__showGoodsBodyMain__showGoodsBodyMainSelect
        %h1.selectItemName
          まいご犬
        .selectContent
          .selectContent__selectContentPhotos
            .selectContent__selectContentPhotos__selectContentPhotosPhoto
              .selectContent__selectContentPhotos__selectContentPhotosPhoto__selectContentPhotosPhotoOne
                = image_tag "teamApp_dog3.png", alt: "No Photo", class: "dogWait"
              .selectContent__selectContentPhotos__selectContentPhotosPhoto__selectContentPhotosPhotoOther
                = image_tag "teamApp_dog3.png", alt: "No Photo", class: "dogWait"
                = image_tag "teamApp_dog1.png", alt: "No Photo", class: "dogDwon"
                = image_tag "teamApp_dog2.png", alt: "No Photo", class: "dogSleep"
        .selectPriceBox
          .selectPriceBox__selectPriceBoxMoney
            %i.fas.fa-yen-sign.iconYen
            %span.spanMoney
              1,000
          .selectPriceBox__selectPriceBoxSupp
            .selectPriceBox__selectPriceBoxSupp__selectPriceBoxSuppTax
              %span.spanTax
                （税込）送料込み
            .selectPriceBox__selectPriceBoxSupp__selectPriceBoxSuppShippingFee
              %span.spanShippingFee
        .selectPurchace
          .selectPurchace__selectPurchaceMove
            %form{:action => "#", :method => "post", name: "", class: "selectPurchaceMoveForm"}
              %input{:type => "submit", :class =>"selectPurchaceMoveFormBtn", :value => "購入画面に進む"}
        .selectDescription
          .selectDescription__selectDescriptionBody
            %p.selectDescriptionBodyExplain
              【迷子犬への接し方】まず大切なのは、その犬にかまれないことです。知らない場所で知らない人に会って犬は警戒しています。はじめての犬に接する基本を守ってください。①人間は立ったまま犬に声をかけ、反応を見る。②甘えてきたり、おすわりの命令に答えるかどうかなど。③次に人間はしゃがんで姿勢を低くする。④ずっとやさしく声をかけ続ける。⑤犬の反応をよく観察しながら、自分から寄ってくるまで近づかないこと。
        .selectTables
          .selectTables__selectTablesBody
            %table{:border => "1"}
              %tr
                %th
                  出品者
                  %td
                    = link_to "ムツゴロウ", "#",class: "exhibitorName"
              %tr
                %th
                  カテゴリー
                  %td
                    = link_to "生きもの", "#", class: "exhibitionCategory"
                    %br
                    = link_to "動物", "#", class: "exhibitionCategorySub"
                    %br
                    = link_to "犬", "#", class: "exhibitionCategorySubSub"
              %tr
                %th
                  ブランド
                  %td
                    柴犬
              %tr
                %th
                  商品のサイズ
                  %td
              %tr
                %th
                  商品の状態
                  %td
                    非常に良好
              %tr
                %th
                  配送料の負担
                  %td
                    送料込み(出品者負担)
              %tr
                %th
                  発送元の地域
                  %td
                    = link_to "東北地方", "#", class: "exhibitionAddress"
              %tr
                %th
                  発送日の目安
                  %td
                    1~2日で発送
        .selectReport
          .selectReport__selectReportLeft
            .selectReport__selectReportLeft__selectReportLeftLike
              %form{:action => "#", :method => "post", name: "", class: "selectReportLeftLikeForm"}
                = button_tag "Submit", type: 'submit', class: "selectReportLeftLikeBtn" do
                  %i.fas.fa-star.iconStar
                  %span.spanStarWord
                    お気に入り
                  %span.spanStarNumber
                    2
            .selectReport__selectReportLeft__selectReportLeftBad
              .selectReport__selectReportLeft__selectReportLeftBad__selectReportLeftBadLink
                = link_to "#", class: "selectReportLeftBadLinkBtn" do
                  .i.fas.fa-flag.iconFlag
                  %span.spanFlag
                    不適切な商品の通報

      .showGoods__showGoodsBody__showGoodsBodyMain__showGoodsBodyMainComment
        .showGoods__showGoodsBody__showGoodsBodyMain__showGoodsBodyMainComment__showGoodsBodyMainCommentContent
          .mainCommentContentBody
            %form{action: "#", method: "post", name: "", class: "mainCommentContentBodyForm"}
              %textarea{name: "", rows:"4", cols: "70", class: "mainCommentContentBodyTextarea"}
              %p.mainCommentContentBodyFormAttention
                相手のことを考え丁寧なコメントを心がけましょう。
                %br
                不快な言葉遣いなどは利用制限や退会処分となることがあります。
              .mainCommentContentBodyTag
                %i.fas.fa-comment.iconComment
                = button_tag "コメントする", type: 'submit', class: "mainCommentContentBodyTagBtn"

      .showGoods__showGoodsBody__showGoodsBodyMain__showGoodsBodyMainOtherItem
        .showGoods__showGoodsBody__showGoodsBodyMain__showGoodsBodyMainOtherItem__showGoodsBodyMainOtherItemBox
          %ul.mainOtherItemBoxUl
            %li.mainOtherItemBoxUlPrev
              %i.fas.fa-chevron-left.iconChevronLeft
              = link_to "前の商品", "#", class: "mainOtherItemBoxUlPrevOne"
            %li.mainOtherItemBoxUlNext
              = link_to "後ろの商品", "#", class: "mainOtherItemBoxUlNextOne"
              %i.fas.fa-chevron-right.iconChevronRight

      .showGoods__showGoodsBody__showGoodsBodyMain__showGoodsBodyMainNavi
        .showGoods__showGoodsBody__showGoodsBodyMain__showGoodsBodyMainNavi__showGoodsBodyMainNaviBox
          %nav.naviBoxBrend
            %ul.naviBoxBrendTopUl
              %li.naviBoxBrendTopUlLi
                = link_to "メンズをもっと見る", "#", class: "naviBoxBrendTopUlLiBtn"


%aside.asideBanner
  = image_tag "bg-appBanner-pict.jpg", alt: "No Photo", class: "asideBannerPhoto"
  .asideBannerIn
    %h2.asideBannerInHead
      だれでもかんたん、人生を変えるフリマアプリ
    %p.asideBannerInPhrase
      今すぐ無料ダウンロード！
  .asideBannerAt
    .asideBannerAtApple
      = link_to "#" do
        = image_tag "appStore.svg", alt: "No Photo", class: "appleBtn"
    .asideBannerAtGoogle
      = link_to "#" do
        = image_tag "googlePlay.svg", alt: "No Photo", class: "googleBtn"


= render "layouts/footer"