
.footer
  .footer__footerContent
    .footer__footerContent__footerContentBody
      %ul.ContentBodyUl
        %li.footerContentUlLi
          %h2.footerContentUlLiHead
            FURIMAについて
          %ul.footerContentUlLiFoo
            %li= link_to "会社概要（運営会社）", "#", class: "Lin"
            %li= link_to "プライバシーポリシー", "#", class: "Lin"
            %li= link_to "FURIMA利用規約", "#", class: "Lin"
            %li= link_to "ポイントに関する特約", "#", class: "Lin"
        %li.footerContentUlLi
          %h2.footerContentUlLiHead
            FURIMAを見る
          %ul.footerContentUlLiFoo
            %li= link_to "カテゴリー一覧", "#", class: "Lin"
            %li= link_to "ブランド一覧", "#", class: "Lin"
        %li.footerContentUlLi
          %h2.footerContentUlLiHead
            ヘルプ＆ガイド
          %ul.footerContentUlLiFoo
            %li= link_to "FURIMAガイド", "#", class: "Lin"
            %li= link_to "FURIMAロゴ利用ガイドライン", "#", class: "Lin"
            %li= link_to "お知らせ", "#", class: "Lin"
    .footer__footerContent__footerContentBrand
      .footer__footerContent__footerContentBrand__footerContentBrandLogo
        = link_to "#" do
          = image_tag "logo-white.png", alt: "No Photo", class: "logoImage"
        %p.logoMark
          © FURIMA

.displayBtn
  = link_to "出品する", new_good_path, class: "displayWord"
  %i.fas.fa-camera.iconCamera