.header
  .header__top
    = link_to(root_path) do
      =image_tag "logo.png", class: "header__top__img", size: "140x40"
    %form{:action => "", :method => "", class: "header__top__form"}
      %input{:name => "content", :type => "text", class: "header__top__form--text_box", placeholder: "何かお探しですか？"}
      %button{type:"submit", value: "" ,class: "header__top__form--btn"}
        %i{class:"fas fa-search"}
  .header__bottom
    %ul
      %li
        = link_to "#" do
          %i{class: "fas fa-list"}
          カテゴリーから探す
      %li
        %i{class: "fas fa-tags"}
        ブランドから探す
      %li
        %i{class: "fas fa-bell"}
        お知らせ
      %li
        %i{class: "fas fa-check"}
        やることリスト

      - if user_signed_in?
        %li
          = link_to user_path(current_user.id) do
            %i{class: "fas fa-smile"}
            マイページへ
        %li
          = link_to destroy_user_session_path, method: :delete do
            %i{class: "fas fa-sign-out-alt"}
            ログアウト
      - else
        %li
          = link_to new_user_session_path do
            %i{class: "fas fa-smile"}
            ログイン/
          = link_to new_user_registration_path do
            新規登録
= render 'shared/breadcrumbs'